.Tabs{
    color: white;
   border-bottom: tomato;
}

.Tab {
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.nav-tabs .nav-link{
    background-color: transparent;
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid tomato;
}
.nav-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

}

.nav-link:focus {
    background-color: #666666;
    color: white;
}
.nav-tabs.nav-link:hover{
background-color: #666666;
color: white;
}
