form {
    text-align: center;
}

.btn {
    color: #666666;
    border:1px solid;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-shadow: 3px 3px 3px rgba(163, 2, 1, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.125);
    background-color: rgba(255, 255, 255, 0.45);
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.45);
    border: 2px solid rgba(0, 0, 0, 0.125);
}

.form-control {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.45);
}
