h1 {
    font-size: 50px;
    font-weight:300;
    margin-bottom: 1px;
    text-align: center;
    text-transform: uppercase;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .h1 {
        font-size: calc(30px + (50 - 30) * ((100vw - 320px) / 160));
    }
}
h1 strong {
    font-weight: 600;
}

h6 {
    
    font-size: 16px;
    font-weight: 300;
    position:relative;
    
    text-align: center;
}

ul {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid;
    border-color: #dee2e6 #dee2e6 #fff;
    display: block;
    list-style: none;
    padding: 0;
    margin: 10px auto;
    text-shadow: 3px 3px 3px rgba(163, 2, 1, 0.4);
}

li:first-letter {
    text-transform: capitalize;
}

div.city {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid;
    border-color: #dee2e6 #dee2e6 #fff;
    padding-bottom: 3px;
    text-shadow: 3px 3px 3px rgba(163, 2, 1, 0.4);
}

.Weather {
    display: block;
    margin: 0 auto;
}

.icon {
    margin-top: 5px;
}

.icon, .state {
    text-align: center;
}
.state {
    color: rgb(255, 27, 28);
    text-shadow: 3px 3px 3px rgba(163, 2, 1, 0.4);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
#currentState {
    font-weight: 500;
}

