h1 {
    font-size: 40px;
    margin-bottom: 1px;
    text-align: center;
    text-transform: uppercase;
}

h6 {
    
    font-size: 16px;
    font-weight: 300;
    position:relative;
    
    text-align: center;
}

ul {
    background: transparent;
    list-style: none;
}

li:first-letter {
    text-transform: capitalize;
}

.icon, .state {
    text-align: center;
}

#currentState {
    font-weight: 500;
}

