
.card-text {
    display: block;
    margin: 0 auto;
    width: 300px;
}
ul.horizontal-list {
min-width: 320px;
list-style: none;
padding: 20px 0;
}

li.temperature, li.weather-conditions {
    display:inline-block;
}

.currentWeather {
    font-size: 80px;
}
li.weather-conditions ul{
    padding: 5px;
}

.currentWeather .active {
    color: white;
    cursor: default;
}

#fahrenheit,
#celcius {
    font-size: 16px;
    text-decoration: none;
}

