h1 {
    font-size: 50px;
    font-weight:300;
    margin-bottom: 1px;
    text-align: center;
    text-transform: uppercase;
}
h1 strong {
    font-weight: 600;
}

h6 {
    
    font-size: 16px;
    font-weight: 300;
    position:relative;
    
    text-align: center;
}

ul {
    background: transparent;
    list-style: none;
    display: block;
    margin: 0 auto;
}

li:first-letter {
    text-transform: capitalize;
}

.Weather {
    display: block;
    margin: 0 auto;
}



.icon, .state {
    text-align: center;
}
.state {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
#currentState {
    font-weight: 500;
}

